server {

    listen {{ listen_port }};
    server_name  {{ domain }};

    {% if https %}
    ssl on;
    ssl_certificate {{ cer }};
    ssl_certificate_key {{ key }};
    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECCDH+3DES:RSA+3DES:!MD5;
    ssl_prefer_server_ciphers on;

    access_log  /data/logs/nginx/{{ domain }}.access.log main;
    error_log  /data/logs/nginx/{{ domain }}.error.log;
    {% else %}
    access_log  /data/logs/nginx/ssl.{{ domain }}.access.log main;
    error_log  /data/logs/nginx/ssl.{{ domain }}.error.log;
    {% endif %}

    {% for header in site_headers %}
    {{ header }};
    {% endfor %}
    {% if trace_status %}
    if ($http_x_request_id !~ ^trace-id){
        set $http_x_request_id trace-id-$pid-$connection-$bytes_sent-$msec;
    }
    {% endif %}


    root   html;
    index  index.html index.htm index.php;

    ## send request back to upstream ##
    {% for context_p in context_all %}
    {% if context_p.domain_proxy %}
    location {{ context_p.context }} {
        {% if context_p.default_proxy_set %}
        include proxy_conf;
        {% endif %}
        {% for proxy_header in context_p.proxy_headers %}
        {{ proxy_header }};
        {% endfor %}
        proxy_pass  http://{{ context_p.domain_proxy }}{{ context_p.proxy_path  or '' }};

    }
    {% else %}
    location {{ context_p.context }} {
        {% if context_p.default_proxy_set %}
        include proxy_conf;
        {% endif %}
        {% for proxy_header in context_p.proxy_headers %}
        {{ proxy_header }};
        {% endfor %}
        proxy_pass  http://{{ context_p.app_name }}{{ context_p.proxy_path  or '' }};

    }
    {% endif %}
    {% endfor %}

}
